@import '../Components.scss';
.search_container{
    position: relative;   
    width:310px;
    border:1px solid $outline;
    border-radius: 2px;
    @extend .d_flex;
    justify-content: space-between;
    .inputContainer{
        width:100%;        
        height:50px;
        padding:0 10px;
        input{
            outline: none;
            width:100%;
            height:100%;
            border:none;
        }
    }
    .icon_container{
        width:50px;
        height:50px;
        @extend .d_flex;
        cursor: pointer;
        .icon{
            color:$accent;
            font-size:24px;
        }
    }
}