@import '../../component/Components.scss';
.hero_image{
    display:block;
    width:100%;
    img{
        display: block;
        width:100%;
    }
}
.mx_width{
    &.themeContainer{
        justify-content: space-between;
        flex-direction: column;
    }
}
.fluid{
    display:block;
    width:100%;
}
.hero_image{
    display:block;
    width:100%;
    overflow: hidden;
}