@import '../Components.scss';

.headerTop{
    display:block;
    width:100%;
    background-color:$black;    
    .mx_width{
        justify-content: space-between;
        height:40px;
        @extend .small_text;
        color:$grey;
        .offer_seciton{
            @extend .d_flex;
            width:100%;
        }
        
    }
}

.headerMiddle{
    display:block;
    background-color: $white;
    a{
        text-decoration: none;
        color:$text_color;
    }
    .mx_width{
        justify-content: space-between;
        padding:35px 0;
        @extend .small_text;
        color:$text_color;
    }
    .itel_left{
        @extend .d_flex;
        width:55%;
        justify-content: flex-start;
        .logo{
            margin-right:50px;
        }
    }
    .item_right{
        @extend .d_flex;
        justify-content:flex-end;
        width:45%;
        .icon_container{
            @extend .d_flex;
            flex-direction: column;           
            cursor:pointer;
            .icon_wrapper{
                @extend .d_flex;
                width:50px;
                height:40px;
                svg{
                    font-size:24px;
                }
            }
            span.icon{
                @extend .d_flex;
                width:50px;
                height:40px;
                img{
                    width:30px;
                }
            }
            span{
                &.title{
                    @extend .small_text;
                    font-size:12px;
                }
            }
            +.icon_container{
                margin-left:16px;
            }
            &.relative_icon{
                position:relative;
                .total_item{
                    @extend .d_flex;
                    @extend .small_text;
                    font-size:12px;
                    width:20px;
                    height:20px;
                    border-radius: 100%;
                    position:absolute;
                    top:0;
                    right:0;
                    background-color:$primary_color;
                }
            }
            &.profile{
                position:relative;
                .profile_container{
                    background-color:$white;
                    border-radius: 8px;
                    left: 50%;
                    position: absolute;
                    top:110%;
                    transform: translateX(-50%);
                    width: 320px;
                    z-index: 99;
                    border: 1px solid $light;
                    padding:30px 0 10px 0;
                    opacity:0;
                    visibility: hidden;
                    transition:all .3s ease-in-out;
                    .login_container{
                        padding:0 16px;
                        @extend .d_flex;
                        justify-content: flex-start;
                        width:100%;
                        flex-direction: column;
                        border-bottom:1px solid $outline;
                        padding-bottom:16px;
                        .title_container{
                            width:100%;
                            text-align: left;
                            margin-bottom:16px;
                            h4{
                                font-weight: 600;
                            }
                            p{
                                font-size:10px;
                                color:$text_color;
                                margin-top: 4px;
                            }
                        }
                        .btn{
                            &.login_btn{
                                border-radius: 25px;
                                height:45px;
                                max-width:100%;
                                background-color: $primary_color;
                                transition:all .3s ease-in-out;
                                text-decoration: none;
                                span{
                                    color:$black;
                                    transition:all .3s ease-in-out;
                                }
                                &:hover{
                                    background-color: $primary_color_dark;
                                    span{
                                        color:$white;
                                    }
                                }
                            }
                        }
                    }
                    .profile_item_container{
                        padding:4px 16px;
                        @extend .d_flex;
                        justify-content: space-between;
                        text-decoration: none;
                        color:$text_color;
                        +.profile_item_container{
                            border-top:1px solid $outline;
                        }
                        .icon_container{
                            flex-direction: row;
                            .icon_wrapper{
                               svg{
                                transition:all .3s ease-in-out;
                               }
                            }
                            .small_text{
                                transition:all .3s ease-in-out;
                            }
                        }
                        .angle_right{
                            width:50px;
                            height:40px;
                            @extend .d_flex;
                            svg{
                                font-size:22px;
                                transition:all .3s ease-in-out;
                            }
                        }
                        &:hover{
                            svg{
                                color: $primary_color_dark;
                            }
                            .small_text{
                                color:$primary_color_dark;
                            }
                        }
                    }
                }
                &:hover{
                    .profile_container{
                        visibility: visible;
                        opacity:1;
                        top:100%;
                    }
                }
            }
        }
        .offers_contact{
            @extend .d_flex;
            margin-right:15px;
            padding-right:15px;
            border-right: 1px solid $outline;            
        }
        .profile_cart{
            @extend .d_flex;
            margin-right:15px;
            padding-right:15px;
            border-right: 1px solid $outline;

        }
    }
}