@import '../Components.scss';

.headerTop{
    display:block;
    width:100%;
    background-color:$black;    
    .mx_width{
        justify-content: space-between;
        height:40px;
        @extend .small_text;
        color:$grey;
        .offer_seciton{
            @extend .d_flex;
            width:100%;
        }
        
    }
}

.headerMiddle{
    display:block;
    background-color: $white;
    .mx_width{
        justify-content: space-between;
        padding:35px 0 60px 0;
        @extend .small_text;
        color:$text_color;
    }
    .cart_info,
    .email{
        display:flex;
        align-items: center;
        .icon_container{
            margin-right:8px;  
            position:relative;          
            .icon{
                font-size:32px;
                color:$accent;
            }   
            span{
                width:20px;
                height:20px;
                background-color:$primary_color;
                border-radius: 20px;
                @extend .cart_info;
                position:absolute;
                top: -10px;
                right: -10px;
                color:$black;
                @extend .d_flex;
                font-size:12px;
            }         
        }
        span{
            @extend .body_text;
        }
        &:hover{
            cursor:pointer;
        }
    }
}