@import '../Components.scss';

.item_container{
    display:block;
    width:100%;
    .title_container{
        @extend .d_flex;
        width:100%;
        margin-bottom:30px;
        .heading_container{
            @extend .heading_4;
            font-weight: 600;
            text-transform: uppercase;
        }
    }

    .tab_container{
        @extend .d_flex;
        width:100%;
        flex-direction: column;
        .tab_item{
            @extend .d_flex;
            margin-bottom:10px;
            .tab{
                padding:10px 15px;
                @extend .body_text;
                color:$accent;
                text-transform: uppercase;
                &.active{
                    background-color:$primary_color_dark;
                    color:$white;
                    border-radius: 6px;
                }
                &:hover{
                    cursor:pointer;
                }
            }
        }
        .tab_content{
            display:block;
            width:100%;
            margin-top:10px;
            .product_card_container{
                --auto-grid-min-size: 16rem;  
                display: grid;
                grid-template-columns: repeat(auto-fill, minmax(var(--auto-grid-min-size), 1fr));
                grid-gap: 1rem;
                @media(max-width:600px){
                    grid-template-columns: repeat(2, 1fr);
                }
                @media(max-width:360px){
                    grid-template-columns: 1fr;
                }
                .card{
                    width:100%;
                    margin-bottom:0;
                    background-color:#eee; 
                    border:1px solid $outline;      
                    &.product_card{
                        border-radius: 5px;
                        overflow: hidden;  
                        border:0.75px solid #3333331a;
                        position: relative;
                        transition: all .4s ease 0s;                        
                        &:hover{
                            transform: translateY(-5px);
                            box-shadow: 0 8px 20px #dedede;                
                            cursor:pointer;
                        }
                        .cart_container{
                            position: absolute;
                            top:0;
                            right:-100px;
                            z-index: 2;
                            transition: all .3s ease-in-out;
                            .cartContainer,
                            .wishlistContainer{
                                width:40px;
                                height:40px;
                                @extend .d_flex;
                            }
                        }
                        &:hover{
                            .cart_container{
                                right:0;
                            }
                        }
                    }   
                    &.ph-picture{
                        width:100%;
                        height:220px;
                    }
                    &__image{
                        display:flex;
                        justify-content: center;
                        align-items: center;
                        width:100%;
                        padding:15px;
                        img{
                         display:block;
                         max-width:200px;
                         height:200px;
                         margin:0 auto;
                         mix-blend-mode: multiply;
                            @media(max-width:520px){
                                max-width:150px;
                                height:150px;
                            }
                        }
                     }
                     &__product_details{
                        background-color:#fff;
                        padding:15px;
                        height:120px;
                        .title{
                                width:90%;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                white-space: nowrap;
                                margin-bottom:10px;
                            a{
                                font-weight: 400;
                                font-size: 14px;
                                line-height:1.4;
                                color:#4E4B66;
                                display: block;
                                overflow: hidden;
                                text-overflow: ellipsis;
                                text-decoration: none;
                                transition:color .3s ease-in-out;
                                @media(max-width:520px){
                                    font-size: 3vw;
                                }
                                &:hover{
                                    color:#FF8C40;
                                }
                            }               
                        }
                        .card__product_price{
                            display:flex;
                            justify-content: flex-start;
                            align-items: center;
                            width:100%;
                            .price{
                                &.new_price{
                                    font-style: normal;
                                    font-weight: 600;
                                    font-size: 16px;
                                    line-height: 24px;
                                    color: #FF8C40;
                                }
                                &.old_price{
                                    margin-left:8px;
                                    font-weight: 500;
                                    font-size: 14px;
                                    line-height: 22px;
                                    color: #6E7191;
                                    text-decoration-line: line-through;
                                }                    
                            }
                        }
                        .stars_container{
                            margin-top:5px;
                        }
                     }
                }
            }
        }
    }
}