$poppins:'Poppins', sans-serif;
$incon:'Inconsolata', monospace;
$primary_color:#fae4df;
$primary_color_dark:#ff8d6d;
$primary_color_light:#fefcfc;
$secondary_color:#527ceb;
$success_color:#28a745;
$info_color:#17a2b8;
$warning_color:#ffc107;
$danger_color:#dc3545;
$black:#000;
$white:#fff;
$accent:#666;
$grey:#999;
$text_color:#666;
$outline:#ebebeb;
$light:#f9f9f9;
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
//common
.d_flex{
    display:flex;
    justify-content: center;
    align-items: center;
}
.mx_width{
    max-width:1200px;
    width:90%;    
    margin:0 auto;
    @extend .d_flex;
}
.m_70{
    margin-bottom:70px;
}
//typo
.heading_1{
    font-family:$poppins;
    font-weight:700;
    font-size:80px;
    letter-spacing: -3.2px;
    @media(max-width:768px){
        font-size:44px;
    }
}
.heading_2{
    font-family:$poppins;
    font-weight:700;
    font-size:45px;
    letter-spacing: -1.8px;
    @media(max-width:768px){
        font-size:30px;
    }
}
.heading_3{
    font-family:$poppins;
    font-weight:700;
    font-size:35px;
    letter-spacing: -1.4px;
    @media(max-width:768px){
        font-size:27px;
    }
}
.heading_4{
    font-family:$poppins;
    font-weight:700;
    font-size:25px;
    letter-spacing:1px;
    @media(max-width:768px){
        font-size:18px;
    }
}
.title_sm{
    font-family:$poppins;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: -.6px;
    @media(max-width:768px){
        font-size:18px;
    }
}
.subtitle_sm{
    font-family:$poppins;
    font-size: 16px;
    text-transform: capitalize;
    font-style: normal;
    @media(max-width:768px){
        font-size:14px;
    }
}
.body_text{
    font-family:$poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.3;
    @media(max-width:768px){
        font-size:14px;
    }
}

.small_text{
    font-family:$poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.3;
    @media(max-width:768px){
        font-size:3vw;
    }
}

.btn{
    max-width:250px;
    width:100%;
    height:56px;
    border-radius: 8px;
    background-color:$primary_color;
    color:$black;
    @extend .d_flex;
    @extend .small_text;
}



